{% extends 'base.html'%}
{% load static %}

{%block content%}

<section class="top-content">
    <div class="maxwidth">
    <h1 class="top-content-title">Sul</h1>
    <h2 class="top-content-subtitle">Sistema Único Laboratorial</h2>
    </div>
</section>

<section class="middle-content row">
    <div class="maxwidth">
        <article class="col-1_4">
            <img src="static/images/icon1.png">
            <h3 class="middle-content-title">PRATICIDADE</h3>
            <p>Sem complexidade, o SUL veio para facilitar a visualização dos exames laboratoriais, oferecendo mais facilidade e eliminando a necessidade de papel.</p>
        </article>

        <article class="col-1_4">
            <img src="static/images/icon2.png">
            <h3 class="middle-content-title">DASHBOARD</h3>
            <p>A ferramenta irá gerar um gráfico comparativo entre os exames, permitindo o usuário comparar os resultados de maneira muito mais simples.</p>
        </article>

        <article class="col-1_4">
            <img src="static/images/icon3.png">
            <h3 class="middle-content-title">PRIVACIDADE</h3>
            <p>As informações só poderão ser acessadas com a permissão do paciente. O médico solicita, e o mesmo escolhe se vai permitir ou não</p>
        </article>

        <article class="col-1_4">
            <img src="static/images/icon4.png">
            <h3 class="middle-content-title">AGILIDADE</h3>
            <p>Nossa plataforma irá agilizar não só a entrega dos resultados pelos laboratórios, como também as consultas.</p>
        </article>

    </div>
</section>

<section class="main-content row">
    <div class="maxwidth">
    <article class="main-content-article col-1_2">
        <h3 class="main-content-title">Designg Heading</h3>
        <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
    </article>

    <article class="main-content-article col-1_2">
        <h3 class="main-content-title">Designg Trends</h3>
        <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
    </article>

    <article class="main-content-article clearfix col-1_2">
        <h3 class="main-content-title">Designg Users</h3>
        <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
    </article>

    <article class="main-content-article clearfix col-1_2">
        <h3 class="main-content-title">Designg Goals</h3>
        <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
    </article>
    </div>
</section>
{%endblock%}

{% load static %}