{%extends 'base.html'%}

{%block content%}
{% include 'parcials/_messages.html' %}

<div class="container-main">
    <form action="{%url 'cadastrar_lab'%}" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <table class="table" style="max-width: 500px">
            {{form1}}
            {{form2}}
            <tr>
                <td colspan="2">
                    <br>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{%endblock%}